@font-face {
  font-family: 'icomoon';
  src: url(./fonts/icomoon/icomoon.eot) format('embedded-opentype'),
  url(./fonts/icomoon/icomoon.woff) format('woff'),
   url(./fonts/icomoon/icomoon.ttf) format('truetype'),
   url(./fonts/icomoon/icomoon.svg) format('svg');
}
body{
  margin: 0;
}
header{
  height: 770px;
  background-image: url('image/home.png');
  background-repeat: no-repeat;
  background-size: cover;
}
.container{
  max-width: 1600px;
  margin: 0 auto;
  padding: 40px 230px 0 230px;
}
.header_logo{
  font-size: 24px;
  line-height: 36px;
  color: #ffffff;
  font-weight: 700;
  font-family: "Montserrat";
}
#header{
  display: flex;
  justify-content: space-between;  
}

.topnav a{
  font-size: 14px;
  line-height: 24px;
  color: #ffffff;
  text-decoration: none;
  font-family: "Montserrat";
  margin-left: 30px;
}
.title{
  font-size: 48px;
  line-height: 24px;
  color: #ffffff;
  font-family: "Montserrat";
  text-align: center;
  margin-top: 255px;
}
.title_text{
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  font-family: "Montserrat";
  text-align: center;
  margin-top: 35px;
}
#button{
  text-align: center;
  margin-top: 55px;
}
button{
  width: 175px;
  height: 45px;
  border: 3px solid #ffffff;
  background-color:transparent;
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
  text-align: center;
  cursor:pointer;
}
button:hover{
  color: #000;
  border-color:#000;
}
.about_title{
  font-size: 20px;
  line-height: 24px;
  color: #555555;
  font-family: "Montserrat";
  text-align: center;
  margin-bottom: 30px;
}
hr{
  width: 50px;
  background-color: #000;
}
.about_text{
  font-size: 16px;
  line-height: 24px;
  color: #555555;
  font-family: "Roboto Slab";
  text-align: center;
  margin: 30px 0 70px 0;
}
.about{
  margin-top: 60px;
}
.about_colum{
  display: flex;
  justify-content: space-evenly;
  margin: 0 -15px;
  flex: 0 0 33.333%;

}
.item_about{
  display: block;
  padding: 0 15px;
}
.item_about_icon{
  width: 90px;
  height: 90px;
  border: 2px solid #dddddd;
  border-radius: 50%;
  background-color: #c0301c;
  text-align: center;
  margin: 0 auto;
  line-height:85px;
  color:#ffffff;
  font-size: 60px;
}
#icon_two{
  background-color: #ffffff;
  
}
#icomoon-ignore svg{
  fill:#c0301c;
  vertical-align: middle;
}
.item_about_title{
  font-size: 14px;
  line-height: 24px;
  color: #555555;
  font-weight: 400;
  font-family: "Montserrat";
  text-align: center;
  margin: 30px 0 25px 0;
}
.item_about_text{
  font-size: 14px;
  line-height: 24px;
  color: #555555;
  font-weight: 400;
  font-family: "Roboto Slab";
  text-align: center;
}
.about_us{
  display: flex;
  justify-content: space-between;
 
}
.our_image{
display: flex;
justify-content: space-evenly;
}
.image_nic{
  display: block;
}
.me_image{
  width: 260px;
  height: 250px;
  border: none;
  background-position: top;
  margin-top: 73px;
}

#image_one{
  background-image: url(image/Md.\ Khalil\ Uddin.png);
  margin-right: 30px;
}

#image_two{
  background-image: url(image/Rubel\ Miah.png);
  margin-right: 30px;
}
#image_three{
  background-image: url(image/Shamim\ Mia.png);
  margin-right: 30px;
}
#image_four{
  background-image: url(image/John\ Doe.png);
}
.icon{
 
text-align: center;
 
}
#facebook,#twitter,#google,#instagram{
  display: inline;

}
.nic{
  font-size: 17px;
  line-height: 24px;
  color: #555555;
  font-weight: 400;
  font-family: "Montserrat";
  text-align: center;
  margin: 20px 0 17px 0;
}
.post{
  font-size: 13px;
  line-height: 24px;
  color: #555555;
  font-weight: 400;
  font-family: "Roboto Slab";
  text-align: center;
}
.work a{
  text-decoration: none;
  color: #555555;
  margin-left: 30px;
}
.work a:hover{
  color: #c0301c;
}
table{
  border-spacing: 30px;
	border-collapse: separate;
}

td[id^="foto"]{
  width: 360px;
  height: 360px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

#foto_one{
  background-image: url(./image/hair\ dryer.png);
} 
#foto_two{
  background-image: url(./image/bird.png);
}
#foto_three{
  background-image: url(./image/notebook.png);
}
#foto_four{
  background-image: url(./image/camera.png);
}
#foto_five{
  background-image: url(./image/bike.png);
}
#foto_six{
  background-image: url(./image/drawing\ block.png);
}
#foto_seven{
  background-image: url(./image/glasses.png);
}
#foto_eight{
  background-image: url(./image/pencils.png);
}
#foto_nine{
  background-image: url(./image/notes.png);
}
.container_row{
  max-width: 100%;
  height: 370px;
  background-image: url(./image/talk.png);
  background-repeat: no-repeat;
  background-position:100%;
  background-size: cover;
  
}
.container_row_text{
  font-size: 30px;
  line-height: 44px;
  color: #ffffff;
  font-weight: 400;
  font-family: "Roboto Slab";
  display: block;
  position: relative;
  text-align: center;
  margin-top: 50px;
  
}
.blog{
  display: block;
}
.blog_one{
  display: inline-block;

}
.blog_title{
  display: ;
}
.blog_title_title{
  
}
.blog_text{
  font-size: 14px;
  line-height: 24px;
  color: #555555;
  font-weight: 400;
  font-family: "Roboto Slab";
}


